COMPOSE_PROJECT_NAME=blog111
TZ=Asia/Shanghai

MYSQL_DATABASE=blog111
MYSQL_USER=blog111
MYSQL_PASSWORD=change-this-mysql-password
MYSQL_ROOT_PASSWORD=change-this-root-password

BLOG_BOOTSTRAP_ADMIN_USERNAME=admin
BLOG_BOOTSTRAP_ADMIN_PASSWORD=Lsq_818818
